.container {
    margin-left: 50px;
    border-collapse: collapse;
    border: 1px solid black;
}

.container th, .container td {
    border: 1px solid black;
}

.headlineTable {
    font-size: large;
    padding: 10px;
    font-weight: bolder;
}
